{% extends 'core/layout.html' %}
    {% block unique_content %}

        {% if post.author != user %}
            <h1 class='msg'> Удалить данный пост может только автор</h1>
        {% else %}
            <h1 class='msg'> Вы уверены, что хотите удалить пост?</h1>
                <form method="POST" action='{% url "post_delete" post.id %}'>
                    {% csrf_token %}
                    <button type='submit'>Удалить</button>            
                </form>
        {% endif %}

    {% endblock unique_content %}
